.register__page p {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
}

.register__text {
  position: relative;
  top: 100px;
  left: 200px;
}

.register__page span {
  font-weight: bold;
  cursor: copy;
}

.register__page {
  display: flex;
  justify-content: space-between;
}

.register__image {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 1270px) {
  .register__image {
    display: none;
  }
  .register__text {
    position: inherit;
    margin: 0 auto;
  }
}


.register__buttons{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
  margin-left: 90px;
}

.register__buttons button{
border-radius: 10px;
cursor: pointer;
}