.carousel__item {
  position: relative;

}

.carousel__item img {
  width: 90%;
}

.carousel__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.5);
  z-index: 1;
}

.carousel__textContent {
  position: absolute;
  top: 100px;
  left: 46%;
  z-index: 9999 !important;
}


@media(max-width:1300px){
  .carousel__textContent {
    position: absolbute;
   top: 60px;
   left: 20%;
     
   }


  .carousel__textContent h1{
   width: 100%;
   
   font-size: 55px;
    
  }
}

@media(max-width:1220px){
  .carousel__textContent button {
    display: none;
     
   }



}


@media(max-width:1030px){
  .carousel__textContent h1{
  
    
    font-size: 35px;
     
   }
}


@media(max-width:770px){
  .carousel__textContent h1{
  
    
    font-size: 25px;
     
   }

   .carousel__description{
  display: none;
     
   }
}