.form__content{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 20px;
    padding: 20px;
    gap: 10px;
}

.form__content input{
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid rgb(173, 173, 173);
 height: 40px;
}
