.productCard__cont {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

.productCard__card {
  margin: 30px auto;
  width: 320px;

}

.productCard__card img {
  margin: 30px auto;
  width: 260px;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
  transition: transform 1s ease; /* Suaviza la animación */
  transform-origin: center center; /* El zoom se aplica desde el centro */
  
}

.productCard__card img:hover{
    transform: scale(1.1); /* Escala la imagen al 150% de su tamaño original */
}

.productCard__textcont{
    margin-top: -16px;
    text-align: left;
   
    margin-bottom: 10px;
    border-top: none;
}

.productCard__textcont p{
    color: gray;
}

.productCard__textcont h5{
   margin-top: -10px;
}

.productCard__card svg{
    position: relative;
    bottom:     50px;
    left: 140px;
    padding: 10px;
    border: solid 1px;
    border-radius: 50%;

}

.productCard__card svg:hover{
    border: none;
    padding: 0px;
    border-radius: 0px;
    
}