.similarProducts__products{
    display: flex;
    flex-wrap: wrap;
   
}




.similarProducts__content{
    margin-left: 100px;
}

@media(max-width:700px){
    .similarProducts__products{
        display: flex;
        flex-wrap: wrap;
        margin-top: 130px;
    }
    .similarProducts__title{
        display: none;
    }
}